@media screen and (max-width: 1280px)
{
    header:not(#link){
      margin-top: 0;
      background-image: url('../img/nuages.png');
      text-align: center;
      font-size: 10px;
    }

    #link{
      background-color: black;
      font-size: 10px;
      align-items: center;
    }

    #contact{
      font-size: 0.7em;
    }

    h3{
      font-size: 10px;
    }

    #history, #realisation{
      font-size: 15px;
    }

    #expertize:not(h3){
      text-align: center;
      background-image: url("../img/fondcompetencelow.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
    }

    #OS{
        margin: auto;
        margin-bottom: 100px;
    }

    #Languages{
      margin-bottom: 100px;
    }
    #tool{
      margin-right: auto;
      margin-bottom: 100px;
    }

    #expert:not(.progress)
    {
      font-size: 0.9em;
    }

}
