@font-face {
  font-family: "Halo";
  src: url('Halo.ttf');
}

header:not(#link){
  margin-top: 0;
  background-image: url('../img/nuages.png');
  text-align: center;
}

h1{
  color: red;
}

#conteneur{
  display:inline-block;
}

body{
  margin: 0;
}

#contact{
    text-align: left;
    margin-left: auto;
}

a{
  text-decoration: none;
  color: white;
}


#link{
  background-color: black;
  font-size: 20px;
  align-items: center;
  font-family: 'Halo';
  font-size: 30px;
}

#linkhistory{
  text-align: center;
}

#links{
/*  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;*/
}
/*
#linkhobbi{
  background-color: black;
}*/

#linkrealisation{
  display: flex;
  flex-direction: row;
}

#linkexpertize{
  display: flex;
  flex-direction: row;
}

#tool{
  margin-left: auto;
  margin-right: 55px;
  border: dotted;
  float: right;
  margin-bottom: 15px;
  margin-top: 7px;
}

#Languages{
  margin-left: auto;
  border: 3px dashed;
  text-align: left;
  margin-top: 9px;
}

#OS{
  box-shadow: 6px 6px 6px black;
  margin-left: 70px;
  margin-top: 5px;
  text-align: left;
  float: left;
}

th{
  color: white;
  text-align: center;
}

.contact_name{
  text-decoration: underline;
  font-family: 'Press Start 2P';
}

h3{
  text-align: center;
  text-decoration: underline;
  font-family: 'Press Start 2P';
  color: white;
  font-size: 25px;
}

#history{
  text-align: center;
}

#realisation{
  text-align: center;
}

#instance{
  background-image: url(../img/parcours.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: green;
  font-size: 25px;
}

#hobbies{
  text-align: center;
  background-image: url("../img/pacman.png");
  background-size: cover;
}

.hobbi{
  color: white;
  margin: auto;
}

#play{
  text-align: left;
  margin: auto;
}

#expertize:not(h3){
  background-image: url("../img/fondcompetence.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #58FAD0;
}

/*.progressall:not(img){
/*   display: inline-block;
  display: flex;
  justify-content: flex-end;
}*/

/* Ajout couleur de la barre */
progress::-moz-progress-bar {
  background-color: green;
}

progress::-webkit-progress-bar{
  background-color: green;
}
/* barre de progression + couleur de fond */
progress{
  margin-top: 10px;
  width: 160px;
  height: 15px;
  background-color: red;
  border: red;
  -webkit-animation: progress-bar-stripes 2s linear infinite; /* ajout de l'animation */
  -moz-animation: progress-bar-stripes 2s linear infinite;/* ajout de l'animation */
  -o-animation: progress-bar-stripes 2s linear infinite;/* ajout de l'animation */
  animation: progress-bar-stripes 2s linear infinite;/* ajout de l'animation */
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent); /* Ajout d'un dégradé */
  background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);/* Ajout d'un dégradé */
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);/* Ajout d'un dégradé */
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);/* Ajout d'un dégradé */
  background-size: 15px 15px; /* Ajout de la taille des bandes*/
}

h5{
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  color: #58FAD0;
}

.progress {
  background: rgba(235, 14, 14, 1);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 25px;
  height: 20px;
}

.progressvalue{
  position: relative;
  text-align: center;
  top: 7px;
  right: 90px;
  color: white;
  font-size: 15px;
}
/* animation */
@keyframes progress-bar-stripes {
   0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0; /*déplacement de la barre*/
    }
}

#contain{
  display: flex;
  flex-direction: column;
}

#expert{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 300px;
    font-size: 20px;
}

#expert:not(.progress)
{

}

marquee{
  height: 50px;
  border:2px #008000;
  text-align: center;
  color:#e0fc0f ;
  font-size:20px;
  font-family: 'Press Start 2P';
}

.logo{
  position: relative;
  top: 35px;
  margin-right: auto;
  text-align: left;
}

.nameexpert{
  /*padding: 5px;*/
  font-size: 15px;
  text-align: center;
  margin-right: auto;
}

.real{
  margin-top: 17px;
}

.texthobbi{
  margin-top: 70px;
  font-size: 20px;
}
