@font-face {
  font-family: "Halo";
  src: url('Halo.ttf');
}

header:not(#link){
  margin-top: 0;
  background-image: url('../img/nuages.png');
  text-align: center;
}

h1{
  color: red;
}

#conteneur{
  display:inline-block;
}

body{
  margin: 0;
}

#contact{
    text-align: left;
    margin-left: auto;
}

a{
  text-decoration: none;
  color: white;
}

li{
  list-style: none;
}

#link{
  background-color: black;
  font-size: 20px;
  align-items: center;
  font-family: 'Halo';
  font-size: 30px;
}

#linkhistory{
  text-align: center;
}

#linkrealisation{
  display: flex;
  flex-direction: row;
}

#linkexpertize{
  display: flex;
  flex-direction: row;
}

#tool{
  border: dotted;
  margin-bottom: 15px;
  margin-top: 200px;
}

#Languages{
  border: 3px dashed;
  text-align: left;
  margin-top: 9px;
  margin-top: 200px;
}

#OS{
  box-shadow: 6px 6px 6px black;
  margin-left: 60px;
  margin-top: 200px;

}

th{
  color: white;
  text-align: center;
}

.contact_name{
  text-decoration: underline;
  font-family: 'Press Start 2P';
}

h3{
  text-align: center;
  text-decoration: underline;
  font-family: 'Press Start 2P';
  color: white;
  font-size: 25px;
}

#history{
  text-align: center;
}

#realisation{
  text-align: center;
}

#instance{
  background-image: url('../img/parcours.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: green;
  font-size: 25px;
}

#hobbies{
  text-align: center;
  background-image: url("../img/pacman.jpeg");
  background-size: cover;
  background-position: bottom;
}

.hobbi{
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

#play{
  text-align: left;
  margin: auto;
}

#expertize{
  background-image: url("../img/fondcompetence.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #58FAD0;
}

h4{
  font-family: 'Halo';
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
  color: #58FAD0;
}

.progress {
  background: rgba(235, 14, 14, 1);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 25px;
  height: 20px;
}

#contain{
  display: flex;
  flex-direction: column;
}

#expert{
    font-size: 20px;
}

#canvas{
  background-color: grey;
}

.pictures-background{
  background-image: url('../img/tv.png');
  width: 750px;
  height: 400px;
  padding-top: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

marquee{
  height: 50px;
  border:2px #008000;
  text-align: center;
  color:#e0fc0f ;
  font-size:20px;
  font-family: 'Press Start 2P';
}

.nameexpert{
  font-size: 15px;
  text-align: center;
  margin-right: auto;
}

.real{
  margin-top: 17px;
}

.texthobbi{
  margin-top: 70px;
  font-size: 20px;
}

.windows{
   width: 25%;
}

.Linux{
   width: 20%;
}

.c{
  width: 50%;
}

.bootstrap{
  width: 20%;
}

.sql{
  width: 50%;
}

.php{
  width: 30%;
}

.html{
  width: 60%;
}

.javascript{
  width: 40%;
}

.command{
  width: 25%;
}

.atom{
   width: 50%;
}

.nano{
   width: 60%;
}

.git{
  width: 45%;
}

.github{
   width: 45%;
}

.vhost{
   width: 25%;
}

.builder{
   width: 50%;
}

#televiseur{
  float: none;
}
body{
  margin: 0;
}

canvas {
    border: 1px solid black;
}

#canvasdiv{
   width: 1848px;
   height: 959px;
   overflow: hidden;
}

.modal-title{
  color: black;
  font-family: 'Press Start 2P';
}

.modal-dialog{
  width:1500px;
}
@media screen and (max-width:1280px){
  .pictures-background{
    background-image: none;
    width: 70%;
  }

#televiseur{
  float: left;
  margin: 0;
  width: 250px;
  height: 150px;
  }
}
