.maximum_size {
    height: 100%;
}

.center {
  text-align: center;
}

.progress {
  height: 25px;
}

#olympiade {
  color: red;
}

.bar-animation_cinq {
  animation: cinq 7s forwards 1;
}

.bar-animation_vingt {
  animation: vingt 7s forwards 1;
}

.bar-animation_vingt_cinq {
  animation: vingt 7s forwards 1;
}

.bar-animation_trente {
  animation: trente 7s forwards 1;
}

.bar-animation_trente_cinq {
  animation: trente_cinq 7s forwards 1;
}

.bar-animation_quarante {
  animation: quarante 7s forwards 1;
}

.bar-animation_cinquante {
  animation: quarante 7s forwards 1;
}

.bar-animation_soixante {
  animation: soixante 7s forwards 1;
}

.bar-animation_soixante_cinq {
  animation: soixante_cinq 7s forwards 1;
}

.bar-animation_soixante_dix {
  animation: soixante_dix 7s forwards 1;
}

.bar-animation_soixante_quinze {
  animation: soixante_quinze 7s forwards 1;
}

.bar-animation_quatre_vingt {
  animation: quatre_vingt 7s forwards 1;
}

@keyframes cinq{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:5%;}
    100%{width:5%;} /*fin*/
}

@keyframes vingt{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:20%;}
    100%{width:20%;} /*fin*/
}

@keyframes vingt_cinq{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:25%;}
    100%{width:25%;} /*fin*/
}

@keyframes trente{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:30%;}
    100%{width:30%;} /*fin*/
}

@keyframes trente_cinq{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:35%;}
    100%{width:35%;} /*fin*/
}

@keyframes quarante{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:40%;}
    100%{width:40%;} /*fin*/
}

@keyframes cinquante{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:50%;}
    100%{width:50%;} /*fin*/
}

@keyframes soixante{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:60%;}
    100%{width:60%;} /*fin*/
}

@keyframes soixante_cinq{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:65%;}
    100%{width:65%;} /*fin*/
}

@keyframes soixante_dix{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:70%;}
    100%{width:70%;} /*fin*/
}

@keyframes soixante_quinze{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:75%;}
    100%{width:75%;} /*fin*/
}

@keyframes quatre_vingt{ /*temps*/
    0%{width:0;} /*début*/
    40%{width:80%;}
    100%{width:80%;} /*fin*/
}

#mobile-menu {
  background-color: #acece6;
}

.font-white {
  color: white!important;
  font-weight: bold!important;
}

.padding-menu {
  padding-right: 5px!important;
  color: #77E1D6!important;
  font-weight:600;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
 background-color:rgba(172,236,230,0.4);
 outline:none
}

.tabs .indicator {
 position:absolute;
 bottom:0;
 height:2px;
 background-color: #acece6;
 will-change:left, right
}

.padding-tabs {
  padding-left: 30%;
}

.title {
  color: red;
}

.nav-wrapper {
  background-color: #acece6;
}

.fond {
  background-color: white;
  opacity: 0.85;
}

.img_border {
  border: 1px solid black;
}

body:not(#cv_num){
  background: url('../img/fond_zelda.jpg') no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

canvas {
    border: 1px solid black;
}

#canvasdiv{
   width: 1500px;
   height: 750px;
    position: relative;
    display: inline-block;
}

.modal-title{
  color: black;
  font-family: 'Press Start 2P';
}

.modal-dialog{
  width:1500px;
}

@media only screen and (max-width: 1600px) {
 nav .brand-logo {
  font-size: 1.3em;
 }

 p {
   font-size: 1.2em;
 }

 .title {
   font-size: 1.2em;
 }
}
